extends layout

block content
    h1 #{title}
    #my_dataviz
    div.section
        canvas#line-Activitystepshr(width='200' height='100')
        canvas#line-RestTimemin(width='200' height='100')
        canvas#line-Weightgr(width='200' height='100')
        canvas#line-totaleating(width='200' height='100')
        canvas#line-totalother(width='200' height='100')
        canvas#line-totalrumination(width='200' height='100')

        script.
            var data = !{ tasks };
            var labels = ["Activity (steps per hour)", "Rest time (min)", "Weight (grams)", "Total Eating Time (min)", "Total Other Time (min)", "Total Rumination Time (min)"]
            console.log(data);
            var index = 0;
            Object.keys(data).forEach(key => {
                const id = 'line-' + key
                //          graph(row, id, newTables[row].time, newTables[row].key);
                graph(key, id, data[key].time, data[key][key], labels[index]);
                index += 1;
            })
