extends layout

block content
  h1 #{title}
  #my_dataviz
  div.section
    canvas#line-DIM(width='200', height='100')
    canvas#line-Protein(width='200', height='100')
    canvas#line-Yieldgr(width='200', height='100')
    canvas#line-Fat(width='200', height='100')
    canvas#line-Blood(width='200', height='100')


    script.
      var data = !{ tasks };
      console.log(data);
      //data = data
      var list = ['DIM', "Protein", "Yieldgr", "Fat", "Blood"]
      var labels = ['Days in Milk', "Pct Protein in Milk", "Milk Yield (grams)", "Pct Butterfat in Milk", "Pct Blood in Milk"]

      var index = 0;
      list.forEach(key => {
          const id = 'line-' + key
          graph2(key, id, labels[index]);
          index += 1;
      })






