extends layout

block content
  h1 #{title}
  #my_dataviz
  div.section
    canvas#line-DIM(width='200', height='100')
    canvas#line-Protein(width='200', height='100')
    canvas#line-Yieldgr(width='200', height='100')
    canvas#line-Fat(width='200', height='100')
    canvas#line-Blood(width='200', height='100')


    script.
      var data = !{ tasks };
      
      console.log(data);
      data = data[0]
      Object.keys(data).forEach(key => {
          const id = 'line-' + key
          graph(key, id);
      })



    style(type="text/css").
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
      }
      .section {
        display: flex;
        flex-direction: Column;
      }





