doctype html
html
  head
    title= title
    link(rel='stylesheet' href='//ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
    script(type='text/javascript' src='/javascripts/create_graphs.js')
    script(src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js')
    script(src='//ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-header
        a.navbar-brand(href='#') Dairy DashBoard

    .sidenav
      a(href='/environment') Environment
      a(href='/herd') Overall Herd
      a(href='/biometrics') Individual Cows
      a(href='/milk') Upload data

    .main
      block content
        h1 hi5


    script(src='https://d3js.org/d3.v4.js')

    style.
      .navbar {
        background-color: #1e1e2f;
        border-color: #dd4ecf
      }
      body {
      font-family: "Lato", sans-serif;
      background-color: #1e1e2f;
      }
      .sidenav {
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 20px;
      background: #ba54f5;
      background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
      background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
      background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
      background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
      }
      .sidenav a {
      padding: 6px 8px 6px 30px;
      text-decoration: none;
      margin: 0;
      line-height: 30px;
      position: relative;
      display: block;
      height: auto;
      white-space: nowrap;

      font-size: 15px;
      color: white;
      display: block;
      }
      .sidenav a:hover {
        color: gray;

      }
      .main {
      margin-left: 160px; /* Same as the width of the sidenav */
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 0px 10px;
      }
      @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
      }

